// ============================
// IMPORTS

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;1,700&display=swap');

// ============================
// VARIABLES

$primary-background: #dfe0e2;
$secondary-background: #eb5160;
$medium-background: #b7999c;
$dark-background: #071013;
$contrast: #f8f08b;

$header-font: 'Courier Prime', monospace;
$body-font: 'Rajdhani', sans-serif;

$tablet: 768px;
$laptop: 1024px;
$xl: 1200px;

// ============================
// GLOBALS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-background;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: $header-font;
}

p {
  font-family: $body-font;
  font-size: 0.9em;
  text-align: center;
  line-height: 1.8em;
}

// ============================
// NAV

nav {
  background-color: $secondary-background;
  a {
    color: white !important;

    @media only screen and (min-width: $tablet) {
      font-size: 0.9em;
    }
  }

  @media only screen and (min-width: $tablet) {
    box-shadow: -2px 4px 14px rgba(0, 0, 0, 0.5);
    padding: 0 20px;
  }
}

.navbar-brand {
  font-size: 0.8em;
  color: white !important;
}

.shop-nav-btn {
  appearance: none;
  margin: 0;
  padding: 0;

  font-family: $header-font;
  color: white;

  @media only screen and (min-width: $tablet) {
    background-color: $contrast;
    border-radius: 10px;
    height: 34px;
    width: 60px;
    color: black !important;
    font-size: 0.9em;
  }
}

// ============================
// HERO-LEFT(TOP)

#hero {
  height: 90vh;

  @media only screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    height: 95vh;
    place-content: center;
  }
}

.hero-left,
.hero-right {
  @media only screen and (min-width: $tablet) {
    margin: auto;
  }
}

.hero-left {
  @media only screen and (min-width: $tablet) {
    margin: auto;
    padding-left: 100px;
  }

  h1 {
    font-size: 2.7em;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;

    @media only screen and (min-width: $tablet) {
      font-size: 3em;
      text-align: left;
    }
  }

  .hero-subheader {
    margin: 20px 40px;

    @media only screen and (min-width: $tablet) {
      margin: 20px 0;
    }

    p {
      @media only screen and (min-width: $tablet) {
        text-align: left;
      }
    }
  }

  .hero-btn {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: $secondary-background;
    cursor: pointer;

    border-radius: 10px;

    display: grid;
    place-content: center;

    @media only screen and (min-width: $tablet) {
      margin: 0;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 1.1em;
    }
  }
}

.contrast-text-block {
  position: relative;
  z-index: 99;
}

.contrast-text-block::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -10px;
  height: 20px;
  width: 110%;
  background-color: $contrast;
  z-index: -1;
}

// ============================
// HERO-RIGHT(BOTTOM)

.hero-right {
  position: relative;

  @media only screen and (min-width: $tablet) {
    overflow: hidden;
    margin: 0;
  }

  .hero-img {
    width: 90%;
    padding: 40px;
    margin-top: 40px;

    @media only screen and (min-width: $tablet) {
      display: grid;
      place-content: center;
      height: 100%;
      margin: 0;
    }

    img {
      display: block;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }
  }

  .callToAction {
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 2px;
    height: 100px;
    background-color: $secondary-background;
  }

  .hero-background-text {
    display: none;

    @media only screen and (min-width: $tablet) {
      display: block;
      position: absolute;
      top: 20vh;
      right: -120px;

      transform: rotate(270deg);

      font-size: 9em;
      font-weight: bold;
      color: white;
      opacity: 0.1;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .hero-right::after {
    content: '';
    position: absolute;
    top: -40px;
    right: -40px;

    height: 120vh;
    width: 55vw;

    background-color: $secondary-background;
    transform: rotate(5deg);

    z-index: -1;
  }
}

// ============================
// ABOUT

#about {
  padding: 40px 10px;
  background-color: white;

  @media only screen and (min-width: $tablet) {
    padding: 40px 0;
  }

  h2 {
    font-size: 2.6em;
    margin-bottom: 20px;
  }

  h2,
  p {
    text-align: left;
    padding: 0 20px;
  }
}

// ============================
// TECHNOLOGY

#tech {
  min-height: 100vh;
  background-color: $dark-background;
  color: white;
  padding: 40px 40px;

  .tech-header {
    margin-bottom: 50px;
  }

  h2 {
    font-size: 2.6em;
    margin-bottom: 12px;
    text-align: center;
  }

  .tech-card {
    padding-bottom: 20px;

    h3,
    p {
      text-align: left;
      margin: 0;
    }

    .tech-svg {
      width: 30px;
      height: 30px;
      margin-bottom: 8px;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}

// ============================
// FOOTER

footer {
  background-color: $secondary-background;
  padding: 0 20px;

  .social-links {
    padding: 20px 0;
    fill: white;

    img {
      width: 20px;
      height: 20px;
      margin: 5px;
    }
  }

  .footer-header {
    padding-top: 40px;
    padding-bottom: 30px;

    h3 {
      color: $contrast;
      font-size: 2em;
    }

    p {
      color: white;
      text-align: left;
    }
  }

  .contact-details {
    p {
      text-align: left;
      color: white;
      margin: 0;
    }

    a {
      text-decoration: none;
    }
  }

  .copyright {
    margin-top: 50px;
    padding-bottom: 20px;
    color: white;
    font-size: 0.8em;
  }
}

// ============================
// MODALS
.modal-shop {
  background-color: $primary-background;

  .modal-header {
    border-bottom: 4px solid $secondary-background;
  }

  .btn-modal {
    background-color: $contrast;
  }
}
